body {
    font-family:  sans-serif;
    background: linear-gradient(to right, #00AAFF, #00FF6C); 
}

#container {
    width: 1000px;
    height: 550px;
    margin: 30px 100px;
    align-self: center
}

#calculator {
    width: 400px;
    height: 600px;
    background-color: rgba(255, 255, 255, .75);
    margin: 0 auto; 
    position: relative;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 
    rgba(0, 0, 0, 19);
}